In [1]:
import pandas as pd
df=pd.read_csv("weather_data.csv",parse_dates=['day']) 
# day column will be converted to date format which was previously str
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10          3.0        8.0  cloudy
2017-01-11         40.0       12.0   Sunny

# here we are inserting missing dates in our day column look for example  after 1st jan there is 4th jan so to fill between days we do following

In [3]:
dt=pd.date_range('01-01-2017','01-11-2017')
idx=pd.DatetimeIndex(dt)
df=df.reindex(idx)
df

            temperature  windspeed   event
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        NaN     NaN
2017-01-03          NaN        NaN     NaN
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10          3.0        8.0  cloudy
2017-01-11         40.0       12.0   Sunny

# here dt is created for ata range and passed to DatetimeIndex()
# and we have reindexed dataframe index